<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Predicion</title>
</head>
<body>
    <h2>Student Placement Predicion</h2>
    <form action="predict" method="post">
        <label for="iq">iq</label>
        <input type="text" name="iq" required>

        <label for="cgpa">cgpa</label>
        <input type="text" name="cgpa" required>

        <button type="submit">Submit</button>
    </form>

    <h1 id="predi">
        {{ prediction_text }}
          </h1>
</body>
</html>